@tailwind base;
@tailwind components;
@tailwind utilities;

/* Livewire Styles */
[x-cloak] {
    display: none;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.container {
    background-color: #f8f9fa !important;
}

